@charset "UTF-8";

/*共通部分
--------------------------------*/
html{

    font-size:100%;

}

body{

    font-family:"Yu Gothic Medium", "游ゴシック Medium", "YuGothic","游ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;    
    line-height: 1.7;
    color: #432;

}

a{

    text-decoration: none;

}

img{

    max-width: 100%;

}

/*HEADER
----------------------------------*/
.logo{

    width:300px;
    padding-top:19px;
    font-size:40px;
    padding-left:30px;

}

.logo p{

    color:#432;
    font-size:30px;
    
    
}



.main-nav{

    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    

    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/

}

.main-nav li{

    margin-left: 30px;
    

}

.main-nav a{

    color: #432;

}

.main-nav a:hover{

    color: #0bd;

}

.page-header{

    display: flex;
    justify-content: space-between;

}

.wrapper{

    max-width: 1100px;
    margin : 0 auto;
    padding : 0 4%;
}

/*HOME
------------------------------------------------*/

.home-content{

    text-align: center;
    margin-top:10%;

}

.home-content p{

    font-size: 1.123rem;
    margin: 10px 0 42px;
    font-size:30px;

}

/* 見出し　*/

.page-title{

    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;

}

.page-title p{

    color:#432;
    font-size:50px;
}


/* ボタン */

.button{

    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;

}

.button:hover{

    background: #0090aa;

}

/* 大きな背景画像（animation css) */

.big-bg{

    background-size: cover;
    background-position: center top;

}

#home{
   
    background-image: url(../home/coffee_12.jpg);
    min-height: 100vh;
   

}

#home .page-title{

    text-transform : none;
    
}



/* News
----------------------------------------------*/

#news{

    background-image: url(../home/1234.jpg);
    height: 270px;
    margin-bottom: 40px

}

#news .page-title{

    text-align: center;
   

}

/*　記事部分　*/

article{

    width: 60%;
    order: 2;

}

/*　サイドバー */

aside{

    width: 22%;
    order:3;

}

.ad{

    order:1;
    width:125px;
}

.post-info{

    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
   
}

.post-date{

    background-color: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;

}

.post-date span{

    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;

}

.post-title{

    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;

}

.post-title,
.post-cat{

    margin-left: 120px;
    
}

article img{

    margin-bottom: 20px;

}

article p{

    margin-bottom: 1rem;

}

.sub-title{

    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;

}

aside p{

    padding: 12px 10px;

}

.sub-menu{

    margin-bottom: 60px;
    list-style: none;

}

.sub-menu li{

    border-bottom: 1px #ddd solid;

}

.sub-menu a{

    color: #432;
    padding: 10px;
    display: block;

}

.sub-menu a:hover{

    color: #0bd;

}

.news-contents{

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.marker{

    background: linear-gradient(transparent 70% , yellow 70%);
}

.sukima{

padding-top:40px;
}
/*フッター
------------------------------------------------*/

footer{

    background: #432;
    text-align: center;
    padding: 26px 0 ;

}

footer p{

    color: #fff;
    font-size: 0.875rem;

}

/* Menu
---------------------------------------------------*/

#menu{

    background-image: url(../DessertMenu/aburikyarameru32.jpg);
    object-fit:none;
    min-height: 100vh;

}

.menu-content{

    max-width: 560px;
    margin-top: 10%;

}

.menu-content .page-title{

    text-align: center;

}

.menu-content p{

    font-size: 1.475rem;
    margin: 10px 0 0;
    text-align:center;
    font-weight:bold;

}

.grid{

    display:grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom:50px;

}

.big-box{

    grid-column: 1 / 3;
    grid-row: 1 / 3;

}

.big-box img{

    height: 94%;
    width: 100%;
    object-fit: cover;

}

.nishu{

    padding-top:100px;
}

.sub-title_big{

    font-size: 1.375rem;
    padding:  30px 8px 0px;
    border-bottom:2px brown solid;
    font-weight: normal;
}

.hojo{


    text-align:center;

    
}

/* Contact
---------------------------------------------------*/

#contact{

    background-image: url(../DessertMenu/kinako.jpg);
    min-height: 100vh;
    

}

.contact-content p{

    font-size: 1.475rem;
    font-weight:bold;
    margin: 10px 0 0;
    text-align: center;
    color:#432;

}

.contact-content .page-title{

    text-align: center;

}

/*店舗情報　地図　*/

#location{

    padding: 4% 0;

}

#location .wrapper{

    display: flex;
    justify-content: space-between;

}

.location-info{

    width: 22%;

}

.location-info p{

    padding: 12px 10px;

}

.location-map{

    width: 74%;

}



/* sns */

#sns{

    background: #FAF7F0;
    padding: 4% 0;

}

#sns .wrapper{

    display: flex;
    

}

#sns .sub-title{

    margin-bottom: 30px;

}

.sns-box{

    width: 30%;

}


.fix{


    padding-left:180px;
    padding-bottom :100px;
 
    
}


/*animation css 
--------------------------------------------------------*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      background:white;
      text-align:center;
      color:#fff;
    }

    /* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}

    
    /* Loading画像中央配置　*/
    #splash_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    /* Loading アイコンの大きさ設定　*/
    #splash_logo img {
      width:600px;
    }
    
    /* fadeUpをするアイコンの動き */
    .fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.4s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
    
    .main-nav li a{
        display: block;
        text-decoration: none;
        color: #333;
    }
    
    .main-nav li{
        margin-bottom:20px;
    }
    
    /*==================================================
    　5-3-3 左から右に線が伸びる（下部）
    ===================================*/
    .main-nav li a{
        /*線の基点とするためrelativeを指定*/
        position: relative;
    }
    
    .main-nav li.current a,
    .main-nav li a:hover{
        color:#0481A2;
    }
    
    .main-nav li a::after {
        content: '';
        /*絶対配置で線の位置を決める*/
        position: absolute;
        bottom: 0;
        left: 10%;
        /*線の形状*/
        width: 80%;
        height: 2px;
        background:#0481A2;
        /*アニメーションの指定*/
        transition: all .3s;
        transform: scale(0, 1);/*X方向0、Y方向1*/
        transform-origin: left top;/*左上基点*/
    }
    
    /*現在地とhoverの設定*/
    .main-nav li.current a::after,
    .main-nav li a:hover::after {
        transform: scale(1, 1);/*X方向にスケール拡大*/
    }

    
    /* 滑らかに変形して出現 */
.smooth{
	animation-name:smoothAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
  transform-origin:left;
	opacity:0;
}

@keyframes smoothAnime{
  from {
  transform:translate3d(0, 100%, 0) skewY(12deg);
  opacity:0;
  }

  to {
  transform:translate3d(0, 0, 0) skewY(0);
  opacity:1;
  }
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/


body.appear{
    background:#fff;/*画面を開いた後の背景色を指定*/
}

.splashbg{
	position: fixed;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	border-width: 0px;/*開始はボーダーの太さは0*/
	border-style:solid;
    border-color: #666;/*拡大する四角の色*/
	animation-duration:.35s;
	animation-fill-mode:forwards;
}

@keyframes backBoxAnime{
	99.9% {/*アニメーション終了ぎりぎりまで*/
        z-index: 2;/*最前面に*/
		border-width: 0px;/*開始はボーダーの太さは0*/
	}
    100%{
       z-index: -1; /*最背面に*/
        border-width: 0px;/*終了はボーダーの太さは0*/
    }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
    position: relative;
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay:0.2s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/* ぼかしから出現 */
.blur{
	animation-name:blurAnime;
	animation-duration:5s;
	animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
  }

  to {
	filter: blur(0);
	transform: scale(1);
  }
}

/* 左へ */
.flipLeft{
    animation-name:flipLeftAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    perspective-origin:left center;
    opacity:0;
    }
    
    @keyframes flipLeftAnime{
      from {
       transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
         opacity: 0;
      }
    
      to {
      transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
      opacity: 1;
      }

      
    }

    /*==================================================
スライダーのためのcss
===================================*/
.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
}
    


/* モバイル版
---------------------------------------------------*/

@media (max-width: 600px){


    .logo{

        text-align:center;
    }

    .page-title{

        font-size:2.5rem;

    }

    /*Header*/

    .main-nav{

        font-size: 1rem;
        margin-top:10px;

    }

    .main-nav li{

        margin: 0 3px;

    }

    /*Home*/

    .home-content{

        margin-top: 20%;

    }

    .home-content p{

        font-size:20px;
    }

    .page-header{

        flex-direction: column;
        align-items: center;

    }

    

    

    /*News*/

    .news-contents{

        flex-direction: column;

    }

    article,
    aside{

        width: 100%;

    }

    #news .page-title{

        margin-top: 30px;

    }

    .ad{

        display:none;

    }

    aside{

        margin-top: 60px;

    }

    .post-info{

        margin-bottom: 30px;

    }

    .post-date{

        width: 70px;
        height: 70px;
        font-size: 1rem;

    }

    .post-date span{

        font-size: 0.875rem;
        padding-top: 2px;

    }

    .post-title{

        font-size: 1.375rem;

    }

    .post-cat{

        font-size: 0.875rem;
        margin-top: 10px;

    }

    .post-title,
    .post-cat{

        margin-left: 80px;

    }

    /*Menu*/

    .menu-content{

        margin-top: 20%;

    }

    .menu-content p{

        font-size:1.25rem;
    }

    .grid{

        display: grid;
        gap: 26px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: 6%;
        margin-bottom: 50px;

    }

    .big-box{

        grid-column: auto;
        grid-row: auto;

    }

    .big-box img{

        height: auto;
        
    }

    /*Contact*/

    #contact .page-title{

        margin-top:40px;
        text-align:center;

    }

    .logo p{

        padding-right:20px;
        font-size:25px;
    }

    /*　店舗情報 */

    #location .wrapper,
    #sns .wrapper{

        flex-direction: column;
        overflow:hidden;

    }

    .location-info,
    .location-map,
    .sns-box{

        width: 100%;

    }

    .contact-content p{

        font-size: 1.25rem;
        margin: 10px 0 0;
        text-align: center;
        color:#432;}

   

    .sns-box{   

    margin-bottom: 30px;
    

    }     
    
    #splash_logo img {
        width:650px;
      }

    
}